@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-image: url(../images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    margin: auto;
    width: 100%;
}


a {
    text-decoration: none;
    background-color: hsl(300, 69%, 71%)
}

a:active

/* Quand le visiteur clique sur le lien */
    {
    background-color: hsl(300, 69%, 71%);
    text-decoration: none;
    
}

a:hover {
    background-color: hsl(300, 69%, 71%);
}

.register:hover {
    background-color: hsl(300, 69%, 71%);
    color: hsl(270, 33%, 99%);
}

.attribution {
    font-size: 18px;
    text-align: center;
}

.attribution a {
    color: hsl(240, 17%, 98%);
}

.logo {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
}

.main_content {
    display: flex;
    margin: auto;
    width: 100%;
    color: #FFFFFF;
    justify-content: space-between;
}

.illustration-mockups {
    margin: 10px;
}

.bloc_text {
    margin: 20px;
}

.register {
    background-color: #FFFFFF;
    padding: 15px;
    color: hsl(257, 40%, 49%);
    border-radius: 15% / 50%;
    text-align: center;
    width: 200px;


}

.links {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    list-style-type: none;
}

.links a {
    border-radius: 50px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    height: 40px;
    width: 40px;
    text-decoration: none;
}

.links a:hover {
    background-color: hsl(257, 40%, 49%)
}

@media only screen and (max-width: 375px) {
    body {
        background-image: url(../images/bg-mobile.svg);
        background-color: hsl(257, 40%, 49%)
    }

    #bloc_page {
        width: auto;
    }

    .main_content {
        flex-direction: column;
    }

    .illustration-mockups img {
        margin: auto;
        max-width: 100%;
    }

    .register {
        margin: auto;
    }

    .bloc_text {
        margin: 20px;
        text-align: center;
    }

    footer .links {
        display: flex;
        justify-content: center;
        margin: auto;
    }
}