
/* Corps */

article, aside
{
    text-align: justify;    
}

section h1
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    margin: 25px;
    padding: 5px;
    font-weight: normal;
    background-color: rgba(255,0,0,0.6);
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    width: auto;
    color: white;
    text-shadow: 0px 2px 5px #1c1a19;
}
article
{
    margin-right: 15px;
    flex:3;
}

aside
{
    flex:1.2;
    position: relative;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 1em;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;

}
aside 
{
    width: auto;
    height: auto;
}
aside img
{
    margin-right: 5px;
    text-align:center;
}

section
{
    display: flex;
    margin-bottom: 20px;
}

