section h1
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5em;
    text-shadow: 0px 2px 5px #1c1a19;
    font-weight: normal;
    margin: 25px;
    padding: 7px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0px 0px 0px #989E9D;
    border-radius: 5px;
    width: auto;
}

section h3
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1em;
    margin: 25px;
    padding: 5px;
    font-weight: normal;
    background-color: rgba(255,0,0,0.6);
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    width: auto;
    color: white;
    text-shadow: 0px 2px 5px #1c1a19;
}
article
{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
#fiche_joueur
{
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 10px;
    width: auto;
    margin: 15px;
    padding: 7px;
    transition-duration: 0.4s;

}


#fiche_joueur:hover
{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

#Pohoto_joueur
{
    margin: 15px;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;

}
#fiche_joueur td
{
text-align: left;
}
#fiche_joueur th
{
text-align: left;
}
td img
{
    margin-left: 1px;
    margin-right: 1px;
}
section a
{
    text-decoration: none;
    color: #181818;
}
