@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3.5px grey; 
    border-radius: 7px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(212, 207, 208, 0.25); 
    border-radius: 7px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #E42B50; 
  }
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

 .max-width{
     max-width: 1300px;
     padding: 0 80px;
     margin: auto;
 }   
.navbar{
    
    width: 100%;
    padding: 30px 0;
    background: #E42B50;
    font-family: 'Ubuntu', sans-serif;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color:#ffff;
}
.navbar .logo a span{
    color: #373636;

}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #ffff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px
    
}
.navbar .menu li a:hover{
    color: #373636;
}
.title{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 40px;
}
.title2{
    display: flex;
    justify-content: center;
    color: #E42B50;
    font-family:'Ubuntu', sans-serif;
    font-size: 18px;  
}
section{
    background-color:  #373636;
    margin-top: 15px;
}
.main_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap : 1.5rem;
    margin: 40px auto;
    max-width: 950px;
    height: 100%;
    
    
}
.composition{
    
    background-color: #666666;
    font-family:'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #D4CFD0;
    height: 240px;
    
}
.composition-1{
    display: grid;
    grid-template-columns: 35% 65%;
    max-height:max-content;
}
.collumn-1{
    background-image: url("../images/site-html-css.png");
    width: 140px;
    
}
.collumn-2{
    
    margin-top: 15px;
}
.collumn-2 h3{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.collumn-2 p{
    margin-top: 20px;
}
.collumn-2 .button{
    text-align: center;
    background-color: #E42B50;
    padding: 6px;
    width: 35%;
    height: 15%;
    display: inline-block;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 1px rgb(32, 32, 32);
    color: #ffff;
    margin-left: 27%;
    margin-top: 68px;
}
.button:hover{
    color: #E42B50;
    background-color: #ffff;
}
.composition-2{
    display: grid;
    grid-template-columns: 35% 65%;
    max-height:max-content;
}
    
.collumn-3{
    background-image: url("../images/mobile-design.jpg");
    width: 140px;
    
}
.collumn-4{
    
    margin-top: 15px;
}
.collumn-4 h3{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.collumn-4 p{
    margin-top: 15px;
}
.collumn-4 .button{
    text-align: center;
    background-color: #E42B50;
    padding: 6px;
    width: 35%;
    height: 15%;
    display: inline-block;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 1px rgb(32, 32, 32);
    color: #ffff;
    margin-left: 27%;
    margin-top: 35px;
}
.button:hover{
    color: #E42B50;
    background-color: #ffff;
}
    
.composition-3{
    display: grid;
    grid-template-columns: 35% 65%;
    max-height:max-content;
}
    
.collumn-5{
    background-image: url("../images/mobile-design2.jpg");
    width: 140px;
    
}
.collumn-6{
    
    margin-top: 15px;
}
.collumn-6 h3{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.collumn-6 p{
    margin-top: 15px;
}
.collumn-6 .button{
    text-align: center;
    background-color: #E42B50;
    padding: 6px;
    width: 35%;
    height: 15%;
    display: inline-block;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 1px rgb(32, 32, 32);
    color: #ffff;
    margin-left: 27%;
    margin-top: 35px;
}
.button:hover{
    color: #E42B50;
    background-color: #ffff;
}
.composition-4{
    display: grid;
    grid-template-columns: 35% 65%;
    max-height:max-content;
}
    
.collumn-7{
    background-image: url("../images/mobile-design3.jpg");
    width: 140px;
    
}
.collumn-8{
    
    margin-top: 15px;
}
.collumn-8 h3{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.collumn-8 p{
    margin-top: 15px;
}
.collumn-8 .button{
    text-align: center;
    background-color: #E42B50;
    padding-top: 5px;
    width: 37%;
    height: 15%;
    display: inline-block;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 1px rgb(32, 32, 32);
    color: #ffff;
    margin-left: 27%;
    margin-top: 35px;
}
.button:hover{
    color: #E42B50;
    background-color: #ffff;
}
footer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-columns: 80% 20%;
    font-family:'Ubuntu', sans-serif;
    
}

footer .attribution{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-left: 250px;
    color:#ffff;
}
footer .attribution a{
    color: #E42B50;
}
footer .attribution a:hover{
    color: #666666;
}
footer .links{
    display: inline-flex;
    justify-content: center;
    list-style-type: none;
    margin-right: 50px;
    margin-bottom: 45px;
}
footer .links a{
    
    padding-left: 30px;
    font-size: 27px;
    color: #ffff;  
}
footer .links a:hover{
    color: #E42B50;
}
@media (max-width: 890px){
    .max-width{
        padding: 0 30px;
    }
    .navbar .menu{
        position: absolute;
        height: 32vh;
        width: 20%;
        left: 80%;
        top: 0;
        background: white;
        border-radius: 6px ;
        box-shadow: 0px 0px 10px 1px rgb(131, 128, 128);
        
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 17px 35%;
        font-size: 20px;
        color: #E42B50;
    }
    .navbar .menu li a:hover{
        color: #373636; 
    }
    footer .attribution{
        font-size: 12px;
        margin-left: 150px;

    }
    .main_content{
        display: grid;
        grid-template-columns: 80%;
        grid-gap : 1.5rem;
        margin-left: 20vh;
        height: 100%;  
    }
    

}
@media (max-width: 490px){
    .max-width{
        padding: 0 20px;
    }
    .title{
        font-size: 30px;
    }
    .title2{
        font-size: 13px;   
    }
    .navbar .menu{
        width: 25%;
        left: 80%;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 17px 15%;
        font-size: 17px;
        color: #E42B50;
    }
    .navbar .menu li a:hover{
        color: #373636; 
    }
    .main_content{
        display: grid;
        grid-template-columns: 98%;
        grid-gap : 1.5rem;
        margin-left: 10px;
        height: 100%;  
    }
    footer{
        display: grid;
        grid-template-columns: 100%;
        margin-top: 10px;
        
    }
    
    footer .attribution{
        font-size: 12px;
        margin-left: 0;
    }
    footer .links{
        margin-top: 12px;
        margin-right: 50px;
         
    }
}

    
    




    